@model ChampionshipManager.ViewModel.ChampionshipBracketsViewModel

<div id="container">
    @{
        Layout = null;

        var totalNodes = Model.TotalNodes;
        var currentColumnBrackets = Model.NumberOfTeams / 2;
        var nextColumnBrackets = currentColumnBrackets / 2;
    }

    @*Dynamically generates by column the Championship brackets based on the number of teams and total nodes.*@
    @while (currentColumnBrackets >= 1)
    {
        <div class="column">
            <div class="brackets">@*Wrap all the column brackets for CSS purposes.*@

                @while (currentColumnBrackets > 0)
                {
                    <div class="bracket">
                        @*1st Team*@
                        <button type="button" class="btn btn-sm btn-info btn-frwd" id="btnFrwd@(totalNodes)">></button>
                        <div class="rectangle" id="@(totalNodes)"></div>

                        @*2nd Team*@
                        <button type="button" class="btn btn-sm btn-info btn-frwd" id="btnFrwd@(totalNodes-1)">></button>
                        <div class="rectangle" id="@(totalNodes - 1)"></div>
                    </div>

                    totalNodes -= 2;
                    currentColumnBrackets -= 1;
                }
            </div>
        </div>

        currentColumnBrackets = nextColumnBrackets;
        nextColumnBrackets = nextColumnBrackets / 2;
    }

    @*Winner rectangle.*@
    <div class="column">
        <div class="brackets">
            <div class="bracket">
                <center><strong>WINNER!</strong> </center>
                <div class="rectangle" id="0"></div>
            </div>
        </div>
    </div>
</div>