@model ChampionshipManager.ViewModel.ChampionshipManageViewModel

@{
    ViewData["Title"] = "Championship Management";
}

@section head{
<link rel="stylesheet" href="~/css/brackets.css" />
}

@section scripts{
<script src="~/js/manage.js" asp-append-version="true"></script>
<script>
        $(document).ready(function () {
            LoadTeams(@Model.Id);
        });
</script>
}

<center>
    <h2>
        @Model.Name
    </h2>
</center>

<div id="renderedBrackets">
    <div class="text-center">
        <div class="spinner-border text-light" role="status" style="width: 10rem; height: 10rem; margin:20rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
