@model ChampionshipManager.ViewModel.ChampionshipManageViewModel

@{
    ViewData["Title"] = "Championship Management";
    Layout = "_LayoutManage.cshtml";
}

@section head
{
<link rel="stylesheet" href="~/css/brackets.css" />
}

@section scripts
{
<script src="~/js/manage.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Load the championship teams.
        LoadTeams(@Model.Id);
    });
</script>
}

<center>
    <h2>
        @Model.Name - @(Model.Active ? "In Progress" : "Finished")
    </h2>
</center>

<div id="renderedBrackets" class="shadow-lg">
    <div class="text-center">
        <div class="spinner-border text-dark" role="status" style="width: 10rem; height: 10rem; margin:20rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
