@model ChampionshipManager.ViewModel.TeamCreateViewModel

@{
    ViewData["Title"] = "Create Team";
}

@section Scripts
{
    <partial Name="_ValidationScriptsPartial">
}

@using (Html.BeginForm("Create", "Team", null, FormMethod.Post, true, new { @class = "form-inline" }))
{
    @Html.LabelFor(m => m.Name)

    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control mr-2 ml-2" } })

    @Html.ValidationMessageFor(m => m.Name)

    <button type="submit" class="btn btn-success">Submit</button>
}
