@model ChampionshipManager.ViewModel.HomeIndexViewModel

@{
    ViewData["Title"]= "Home";
}

@section Scripts
{
    <script>
        $(document).ready(function(){
            
        });
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <a href='@Url.Action("Create","Team")' class="btn btn-primary">New Team</a>
        <a href='@Url.Action("Create","Championship")' class="btn btn-primary">New Championship</a>
    </div>
</div>

@foreach (var championship in Model.ChampionshipList)
{
    @championship.Name   
}
